[Unit]
Description=Run DuckDNS DDNS service every 10 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Unit=duckdns.service

[Install]
WantedBy=timers.target
